<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo-5</title>
    <script src="../bower_components/angular/angular.js"></script>
</head>
<body ng-app="demo" ng-controller="DemoController as vm">

<!-- 指令form是FormController的一个实例，这个实例可以通过form的name属性指定的实例名称来获取，并且这个实例是包含它的视图的scope对象上的一个属性 -->
<form name="loginForm" novalidate ng-submit="vm.submit()">
    <label>
        <input type="text" name="username" ng-model="vm.username" placeholder="username"/>
    </label>
    <label>
        <input type="password" name="password" ng-model="vm.password" placeholder="password"/>
    </label>
    <input type="submit" value="提交"/>

    <!-- html原始表单的reset在这里并不起作用，因为这里的form标签是angular的指令，而不是原始form -->
    <!-- reset并不能将input上ngModel绑定的数据重置为空字符串 -->
    <input type="reset" value="重置"/>
</form>

<p ng-bind="vm.username"></p>

<p ng-bind="vm.password"></p>

<script>
    angular.module('demo', []);

    angular
            .module('demo')
            .controller('DemoController', DemoController);

    function DemoController($window) {
        var vm = this;

        vm.submit = function () {
            $window.alert('提交');
        };

    }
</script>
</body>
</html>