<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../bower_components/angular/angular.js"></script>
</head>
<body ng-app="demo" ng-controller="DemoController as vm">
<input ng-if="true" type="text" ng-model="vm.name"/>
<input ng-if="true" type="text" ng-model="age"/>
<input ng-if="true" type="text" ng-model="me.job"/>

<p>name: {{vm.name}}</p>

<p>age: {{age}}</p>

<p>job: {{me.job}}</p>

<script>
    angular.module('demo', []);

    angular
            .module('demo')
            .controller('DemoController', DemoController);

    function DemoController($scope) {
        var vm = this;
        vm.name = 'novaline';

        $scope.age = 23;
        $scope.me = {
            job: 'web developer'
        };
    }
</script>
</body>
</html>